{% if perms.weblog.add_entry %}
<div id="post-form">
    <h3>Add Post</h3>
    <form method="post" action="{{ url('weblog:add_entry') }}">
    {% csrf_token %}
    <formset>
    <input type="text" name="title" placeholder="Title">
    <label for="type">Type: <select name="type">
        <option value="note" selected="selected">Note</option>
        <option value="post">Post</option>
    </select>
    </label>
    </formset>
    <textarea style="width:100%; height: 15rem;" name="body"></textarea>
    <div class="actions">
    <button id="post-submit">Post</button>
    </form>
    </div>
</div>
{% endif %}
